<header>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>

<h1 class="title">Nature Tours</h1>

<div class="form-block">
  <p>For more information about our tours, please fill out the form below:</p>
  <div class="form-container">
    <form action="/" method="post">
      First name <input type="text" name ="fname"><br>
      Last name <input type="text" name="lname"><br>
      Email address <input type="email" name="email"><br>
      Message <textarea name="message" rows="6" cols="24"></textarea><br>
      <input type="submit" value="Submit" class="submit">
    </form>
  </div>
</div>